
<h1>New Movement:</h1>

<ul>
	<%= render "show", movement: @movement %>
</ul>	

<p>
	<%= link_to "Show all available movements", admin_movements_path, class: "load_movements" %>
</p> 

<div class="all_movements">
</div>




	
